<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Movie Generator</title>
</head>

<body>
    <div>
        <div id="text">
            <h1>Random Movie Generator</h1>
            <p>Click below to find your next favorite film!</p>
        </div>
        <div id="button">
        <button>Generate Film</button>
        </div>
    </div>
</body>

</html>

<script src="/index.js"> </script>