body {
    background-color: rgb(212, 212, 212);
    font-family: fantasy;
}

#text {
    text-align: center;
    color: rgb(160, 20, 20);
    word-break:inherit
    
}

#wrapper {
    display: flex;
    justify-content: center;
}



#pokemonData {
    margin-top: 10%;
    display:flex;
    justify-content:center;
    font-size: 48px;
}

p {
    font-size: 20px;
}